---
layout: default
---

<div id="background" class="background">
  <div id="presentation" class="presentation">
    <div class="content">
      {% for chapter in page.chapters %}
      <div class="chapter">
        {% for slide in chapter.slides %}
        <div class="slide">
          {{ slide.html }}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    <div class="position"></div>
  </div>
</div>
<script type="text/javascript">
  var presentation = new Presentation("#presentation", 800, 600);
  presentation.init();
</script>
